* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(48, 47, 47);
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 10, 14, 0.753);
  color: aliceblue;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: top 0.3s ease-in-out;
}
nav ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
nav a:hover {
  color: rgb(255, 255, 0);
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/sonic.jpg");
  background-size: cover;
  background-position: 30%;
  height: 600px;
  color: aliceblue;
}
.welcome h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 30px blue;
}
.fat {
  font-size: 80px;
  font-weight: 900;
  background: linear-gradient(to bottom, #ff0000b0 20%, #9c4848b7 100%);
  transform: skew(-20deg);
  color: aliceblue;
  padding: 2px 5px;
}
.button {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: blue;
  border: black;
  color: aliceblue;
  border-radius: 4px;
  text-shadow: 30px 30px 30px rgb(255, 255, 255);
  cursor: pointer;
}
.button:hover{
    background-color: red;
    text-shadow: 0px 30px 30px blue;
  }
.abtus{
    text-align: center;
    padding: 40px 20px;
}
.abtus p{
    margin: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.abtus h2{
  font-size: 25px;
  margin-bottom: 20px;
}
.gall{
text-align: center;
padding:50px 20px;
}
.gall h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.imagesContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.imagesContainer img{
    width: 100%;
    height:auto;
    border-radius: 5px;
}
footer{
    padding: 20px 20px;
    text-align: center;
    background-color: azure;
}
footer p{
    font-size: 14px;
    color: #999;
}